@import url('https://fonts.googleapis.com/css?family=Bungee|Rubik');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

body {
    margin: 0;
    width: 100vw;
    background-color: skyblue;
}

#header {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.light-border {
    border-top: 2px solid lightblue;
    border-right: 2px solid dodgerblue;
    border-bottom: 2px solid dodgerblue;
    border-left: 2px solid lightblue;
}

.big-padding {
    padding: 10px 25px 10px 25px;
}

.big-padding > img {
    height: 40px;
    width: 48px;
}

.little-padding {
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.little-padding > img {
    height: 20px;
    width: 24px;
}

.fancy {
    margin-left: 75px;
    font-family: 'Bungee', 'Rubik', sans-serif;
    font-size: 48px;
    background-color: powderblue;
}

#preview {
    padding: 10px;
    background-color: cornflowerblue;
    background-image: radial-gradient(circle at center, rgba(100, 100, 150, 0.3) 0%, rgba(15, 15, 50, 0.9) ), url('https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.preview-image {
    margin: 15px;
    max-height: 260px;
    box-shadow: 2px 2px 1px black;
}

.mouse-over {
    margin: 13px;
    border-top: 2px solid gainsboro;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-left: 2px solid gainsboro;
}

#lightbox {
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(50, 50, 50, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    color: rgba(150, 150, 150, 0.8);
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.left-arrow {
    height: 80%;
    width: 10%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.left-arrow:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

.right-arrow {
    height: 80%;
    width: 10%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.right-arrow:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

.content {
    width: 1200px;
    height: 768px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.content img {
    flex: 1;
    max-width: 100%;
    height: auto;
    border-top: 4px solid gray;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid gray;
}

.content .left-arrow, .content .right-arrow {
    align-self: center;
}

.comments {
    background-color: white;
}

.comment-button {
    color: rgba(150, 150, 150, 0.8);
    font-size: 32px;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.inactive {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

