@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand|Material+Icons');

body {
    height: 100%;
    margin: 0;
    position: static;
}

.little-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

#center-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120px;
    position: absolute;
    top: 200px;
    margin-left: 38%;
    margin-right: 38%;
    letter-spacing: -8px;
}

#center-bar {
    position: absolute;
    top: 400px;
    left: 30%;
    width: 600px;
    max-width: 50%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgray;
}

#center-bar:hover {
    box-shadow: 4px 4px 6px lightgray;
}

#center-bar:active {
    display: none;
}

#header-bar {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.head-left {
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
    left: 1em;
}

.head-right {
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
    right: 1em;
}

.usr-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#footer-bar {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(238, 238, 238);
    border-top: 1px solid lightgray;
}

.foot-left {
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
    left: 1em;
}

.foot-right {
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
    right: 1em;
}

a.nice-link {
    text-decoration: none;
    color: darkslategray;
    padding: 0 15px 0 15px;
}

a.nice-link:hover {
    text-decoration: underline;
}

.fake-mic img {
    width: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
}

#center-bar .little-text {
    color: gray;
    position: relative;
    left: 10px;
    top: 10px;
}

.blue {
    color: rgb(87, 135, 240);
}

.red {
    color: rgb(240, 50, 50);
}

.yellow {
    color: rgb(247, 203, 62);
}

.green {
    color: rgb(56, 173, 56);
}

.inline {
    display: inline;
}